<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../CSS/bootstrap.min.css">
    <link rel="stylesheet" href="../CSS/style.css">
    <title>Productos de Ternera</title>
</head>

<body>

    <nav class="navbar navbar-expand-lg navbar-light border-2 border-bottom border-secondary navbar-gradient fixed-top">
        <div class="container-fluid d-flex ">
            <a href="../index.html" class="navbar-brand">
                <img src="../assets/images/banner2.jpeg" alt="Icono imagen" width="300" height="300"
                    class="logo-banner">
            </a>
            <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#menuNavbar"
                aria-controls="menuNavbar" aria-expanded="false" aria-label="navbar-toggler">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse justify-content-center" id="menuNavbar">
                <ul class="navbar-nav ms-3 nav-pills">
                    <li class="nav-item "><a href="../index.html" class="nav-link">Home</a></li>
                    <li class="nav-item"><a href="./carnes.html" class="nav-link active text-bg-light">Carne</a></li>
                    <li class="nav-item"><a href="#" class="nav-link">Aves</a></li>
                    <li class="nav-item"><a href="./categorias/pezcado.html" class="nav-link">Pescado</a></li>
                    <li class="nav-item"><a href="#" class="nav-link">Embutido</a></li>
                    <li class="nav-item"><a href="#" class="nav-link">Lotes</a></li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#categorias" role="button"
                        aria-expanded="false">Categorias</a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="#scrollspyHeading3">Third</a></li>
                        <li><a class="dropdown-item" href="#scrollspyHeading4">Fourth</a></li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li><a class="dropdown-item" href="#scrollspyHeading5">Fifth</a></li>
                    </ul>
                </li>

                </ul>
            </div>
            <div class="ms-auto">
                <a href="login.html" class="btn btn-outline-primary focus-ring">Iniciar Sesión</a>
            </div>
        </div>
    </nav>

    <div class="container-fluid mt-4 ">
        <div class="row">
            <div class="col">
                <h2 class="text-center fw-bold mt-4 card-title">Nuestros Productos</h2>

            </div>
        </div>


    </div>

    <script src=".././JS/bootstrap.min.js"></script>
</body>

</html>